@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

body {
	background-color: darkolivegreen;
	color: #fff;
	margin: 0;
}

a {
	text-decoration: none;
	text-transform: Uppercase;
	color: black;
	transition: 0.5s;
}

a:hover {
	color: goldenrod;
}

.Elfish-Poems {
	font-family: 'IM Fell DW Pica', serif;
	color: goldenrod;
}

.first-letter-Elfish__Poems {
	font-size: 35px;
}

.Human-Kingdoms {
	color: goldenrod;
}

.first-letter-Human__Kingdoms {
	font-size: 35px;
}

.Chant-of__Light {
	color: goldenrod;
	font-family: 'Spectral SC', serif;
}

.first-letter-Chant-of__Light {
	font-size: 35px;
}

.Chant-explanation {
	color: #7F2B20;
}

	.main-section__wrapper {
		display: flex;
		flex-wrap: wrap;
		min-height: 100vh;
	}

		.main-headline__wrapper {
			display: flex;
			flex: 0 0 100%;
			justify-content: center;
			align-items: center;
			box-sizing: border-box;
			background-image: url(dragon-age-banner.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 2000px;
			border: 25px solid #B88846;
  			border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
		}

			.h1_headline {
				color: goldenrod;
				font-size: 70px;
				font-family: 'Marcellus SC', serif;
				font-weight: 700;
				text-shadow: 2px 2px black;
			}

				.span-headline__firstletter {
					font-size: 100px;
					font-family: 'Uncial Antiqua', cursive;
				}

		.main-nav__wrapper {
			display: flex;
			flex: 0 0 100%;
			justify-content: center;
			align-items: center;
		}

			.nav-options {
				display: flex;
				flex: 0 0 20%;
				justify-content: center;
				align-items: center;
				font-size: 30px;
				box-sizing: border-box;
				border: 25px solid #B88846;
  				border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
				background-color: #24471D;
			}

		.main-content__wrappper {
			display: flex;
			background: black;
			flex: 0 0 100%;
		}

			.content-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 0 0 100%;
				flex-wrap: wrap;
			}

				.content-nav__wrapper {
					display: flex;
					flex: 0 0 20%;
					justify-content: center;
					align-items: center;
					background-color: goldenrod;
				}

				.content-article__wrapper {
					display: flex;
					flex: 0 0 50%;
					justify-content: center;
					align-items: center;
					background-color: black;
				}

				.content-article__wrapper hr {
					display: block;
					height: 1px;
					border: 0;
					border-top: 1px solid goldenrod;
					margin: 1em 0;
					padding: 0;
				}

					.article-poems__wrapper {
						flex: 0 0 100%;
					}

					.article-poems__wrapper p, {
						padding-left: 30px;
					}

					.article-poems__wrapper h2 {
						text-align: center;
						padding: 40px;
						font-size: 30px;
					}

					.article-poems__wrapper h3 {
						padding-left: 30px;
						font-size: 25px;
					}

					.article-poems__wrapper h4 {
						font-size: 22px;
					}

					.span-h5 {
						font-size: 20px;
						font-weight: 550;
						padding-bottom: 10px;
						color: #7F2B20;
					}

						.article {
							display: flex;
							flex: 0 0 100%;
							padding-top: 50px;
							justify-content: center;
							align-items: center;
							flex-wrap: wrap;
						}

						.article h3 {
							color: #24471D;
						}

						.article:first-of-type {
							display: flex;
							flex: 0 0 100%;
							padding-top: 0px;
							justify-content: center;
							align-items: center;
							flex-wrap: wrap;
						}

							.article-poem__title {
								flex: 0 0 100%;
							}

							.article-poem {
								display: flex;
								flex: 0 0 100%;
								flex-wrap: wrap;
								padding: 15px;
								justify-content: center;
								align-items: center;
							}

								.orginal-poem {
									flex: 0 0 30%;
									padding: 10px 0;
								}

								.orginal-poem__Chant {
									text-align: left;
									flex: 0 0 100%;
								}

								.translation-poem {
									flex: 0 0 30%;
								}

								.img-poem {
									flex: 0 0 30%;
								}

								.img-poem2 {
									flex: 0 0 0%;
								}

									.Chant {
										display: flex;
										flex: 0 0 100%;
										align-items: center;
										flex: wrap;
									}

									.Chant h4 {
										color: #7F2B20;
									}

										.Chant-text {
											flex: 0 0 50%;
										}

										.Chant-img {
											flex: 0 0 50%;
										}

											.chant-to__big {
												width: 803px;
											}

		.main-footer__wrapper {
			display: flex;
			flex: 0 0 100%;
			flex-wrap: wrap;
			min-height: 60px;
		}


			.footer__wrapper {
				display: flex;
				flex: 0 0 33.333%;
				min-height: 60px;
				justify-content: center;
				align-items: center;
				font-size: 30px;
				box-sizing: border-box;
				border: 25px solid #B88846;
  				border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
				background-color: #24471D;
			}