@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 100px;
}

	.main-wrapper {
		display: flex;
		flex-wrap: wrap;
		display: flex;
		height: 100vh;
		width: 100vw;
		max-height: 100vh;
		max-width: 100vw;
		flex-direction: column;
		background-color: black;
		color: white;
		justify-content: center;
		align-items: center;
	}

		.span-hover:hover {
			color: pink;
		}

#container {
    overflow:hidden;
    position:relative;
    justify-content: flex-end;
}
#p-Hidden {
	font-size: 30px;
	color: pink;
    -webkit-animation: cssAnimation 10s forwards; 
    animation: cssAnimation 10s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 0;}
    70%   {opacity: 0;}
    90%  {opacity: 1;}
    100% {opacity: 1;}
}

  /*.button {
  background: url(../Graphics/button.png) no-repeat;
  background-size: 90px;
  width: 90px;
  height: 90px;
  cursor: pointer;
  border: none;
}*/