body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;
	max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
	padding-bottom: 1%;
	z-index: -1;
}

.main-wrapper {
	display: flex;
	height: 100vh;
	width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
	justify-content: center;
	align-items: center;
	background-color: white;
}

	.grapihics-styling1 {
		position: absolute;
		padding-bottom: 32%;
		padding-left: 37%;
		width: -20%;
		height: auto;
	}

	.grapihics-styling2 {
		position: absolute;
		padding-right: 17.5%; 
		padding-top: 8%;
		width: 6%;
		height: auto;
	}

	.grapihics-styling3 {
		position: absolute;
		padding-top: 44.5%;
		padding-right: 71.5%;
		width: 30%;
		height: auto;
		z-index: 0;
	}	

	.main-wrapper__container {
		flex: 0 0 100%;
		flex-wrap: wrap;
		display: flex ;
		height: 100vh;
		width: 100vw;
		max-height: 90vh;
		max-width: 90vw;
		padding-bottom: 0;
	}

		.main-navigation__wrapper {
			flex: 0 0 10%;
			display: flex;
			padding-bottom: 5%;
			z-index: 1;
		}

			.navigation-wrapper {
				flex: 0 0 70%;
				display: flex;
				height: 110%;
				background: rgb(85,121,130);
				background: linear-gradient(180deg, rgba(85,121,130,1) 74%, rgba(53,130,150,0.6502976190476191) 100%);
				justify-content: center;
				align-items: center;
				flex-wrap: nowrap;
				flex-direction: column;
				border-radius: 2%;
			}

				.horizontal-line__navigation {
					padding: 0 35%;

				}

			.navigation-empty__space {
				display: flex;
				flex: 0 0 30%;
				width: 100%;
			}

		.main-content__wrapper {
			flex: 0 0 90%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
		}

			.text-content__wrapper {
				flex: 0 0 66.6%;
				width: 66.6%;
				height: 33.3%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
			}

				.h2-for_content {
					font-size: 33px;
					color: #513B1F;
					line-height: 0;
					padding: 0;
					margin: 0;
				}

				.pBlue-for_content {
					font-size: 33px;
					color: lightblue;
					line-height: 0;
				}

				.pGray-for_content {
					color: #736A60;
					font-size: 17px;
					padding-right: 8%;
				}

				.text-content__choices {
					display: flex;
					flex-direction: row;
				}

					.choices {
						flex: 0 0 10%;
						display: flex;
						flex-direction: row;
						margin-right: 3%;
						font-size: 12px;
						font-weight: bold;
					}


			.photo-content__wrapper {
				flex: 0 0 33.3%;
				width: 33.3%;
				height: 33.3%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.photo-content__wrapperRight {
				flex: 0 0 33.3%;
				width: 33.3%;
				height: 33.3%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				align-items: flex-end;
			}

			.photo-content__wrapperRight1 {
				flex: 0 0 33.3%;
				width: 33.3%;
				height: 33.3%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				align-items: flex-end;
				padding-bottom: 1%;
			}

			.photo-content__wrapperCenter {
				flex: 0 0 33.3%;
				width: 33.3%;
				height: 33.3%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				align-items: center;
			}

			.photo-content__wrapperZindex {
				flex: 0 0 33.3%;
				width: 33.3%;
				height: 33.3%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: space-between;
				z-index: 0;
			}

				.photo-margin__space {
					flex: 0 0 100%;
					display: flex;
					height: 95%;
					width: 80%;
					flex-wrap: wrap;;
					flex-direction: row;
				}

				.photo-margin__spaceRight1 {
					flex: 0 0 100%;
					display: flex;
					height: 95%;
					width: 80%;
					flex-wrap: wrap;
					flex-direction: row;
					align-items: flex-end;
				}

					.photo {
						flex: 0 0 100%;
						width: auto;
						height: 85%; 
						max-height: 85%;
						margin: 0 auto;
					}

						.catfatso {
							display: block;
							height: 100%;
							width: 100%;
							object-fit: fill;
							z-index: -1;
						}

					.text-under__photo {
						flex: 0 0 100%;
						display: flex;
						height: 15%;
						max-height: 15%;
						margin: 0 auto;
						justify-content: flex-end;
						flex-direction: row;
						font-size: 10px;
						align-items: center;

					}

						.pGray-for_contentPhoto {
							color: #736A60;
							font-size: 15px;
							padding-right: 4%;
						}

						.linkBigger {
							height: 120%;
							width: auto;
						}

						.bitBucketSmaller{
							height: 100%;
							width: auto;
						}

						.overlay {
							position: absolute;
							z-index: 0;
							height: 40%;
							width: 26%;
							margin: 0;
							bottom: 0.25%;
							right: 2.65%;
							opacity: 0.7;
						}

						.pBlue-for_contentAbsolute {
							position: absolute;
							z-index: 1;
							font-size: 33px;
							color: lightblue;
							line-height: 1;
							bottom: 17%;
							right: 16%;

						}

						.pWhite-for_content {
							color: #736A60;
							font-size: 17px;
							position: absolute;
							z-index: 1;
							color: white;
							bottom: 17%;
							right: 19%;
						}

						.pWhite-for_content1 {
							color: #736A60;
							font-size: 17px;
							position: absolute;
							z-index: 1;
							color: white;
							bottom: 9%;
							right: 12.8%;
						}